@charset "utf-8";
#app{
  width: 100%;
  height: 100%;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
#maps{
  width: 100%;
  height: 100%;
}
#left-panel{
  position: absolute;
  z-index: 800;
  left: 30px;
  top: 20px;
  overflow: hidden;
  width: 350px;
}
#app-right-top{
  z-index: 4;
  position: absolute;
  top: 20px;
  right: 10px;
}
#map-operate{
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 90px;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}
#grade-mark-wrapper{
  position: absolute;
  bottom: 0;
  right: 0;
}
#company-logo{
  width: 87px;
  height: 28px;
  background: url(http://webmap2.map.bdstatic.com/wolfman/static/common/images/new/newlogo_bb40ad7.png) no-repeat 0 0;
  background-size: 100% auto;
  position: absolute;
  bottom: 25px;
  left: 20px;
}
.aqi-wrapper{
  height: 120px;
  padding: 20px 0px;
}
#left-panel .panel-heading{
  color: white;
  background: #229570;
}
#left-panel .panel-heading-city{
  font-size: 16px;
}
#left-panel .panel-heading-title{
  font-size: 12px;
}
#left-panel .panel-operate{
  width: 20px; 
  height: 20px;
  background-size: cover;
}
.panel-fold-icon {
  background: url("../images/fold.png") no-repeat; 
}
.panel-spread-icon {
  background: url("../images/spread.png") no-repeat; 
}


