@charset "utf-8";
#app{
  width: 100%;
  height: 100%;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
#maps{
  width: 100%;
  height: 100%;
}
#left-panel{
  position: absolute;
  z-index: 800;
  left: 30px;
  top: 20px;
}
#app-right-top{
  z-index: 4;
  position: absolute;
  top: 20px;
  right: 10px;
}
#map-operate{
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 90px;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
}
#grade-mark-wrapper{
  position: absolute;
  bottom: 0;
  right: 0;
}
#company-logo{
  width: 87px;
  height: 28px;
  background: url(http://webmap2.map.bdstatic.com/wolfman/static/common/images/new/newlogo_bb40ad7.png) no-repeat 0 0;
  background-size: 100% auto;
  position: absolute;
  bottom: 25px;
  left: 20px;
}
.aqi-wrapper{
  height: 120px;
  padding: 20px 0px;
}
.panel-box-boundary{
  border: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
  -webkit-box-shadow: 0 0px 10px #B1AEAC;
  box-shadow: 0 0px 10px #B1AEAC;
}
#left-panel .panel{
  width: 350px;
  float: left;
}
#left-panel .panel-heading{
  color: white;
  background: #229570;
  padding: 5px 10px 5px 20px;
}
#left-panel .panel-heading-title{
  font-size: 18px;
}
#left-panel .panel-heading-title small{
  font-size: 13px;
  margin-left: 20px;
}
#left-panel .panel-operate{
  width: 15px;
  height: 15px;
  background-size: cover;
  position: absolute;
  top: 5px;
  right: 20px;
}
.panel-fold-icon {
  background: url("../images/fold.png") no-repeat; 
}
.panel-spread-icon {
  background: url("../images/spread.png") no-repeat; 
}
#filter-data-wrapper.list-group-horizontal .list-group-item {
  margin-right: 32px;
}
#filter-data-wrapper.list-group-horizontal .list-group-item:first-child {
  padding-left: 0px;
}
.filter-aqi{
  color: #a1a1a1;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 20px;
}
#filter-panel ul{
  margin-right: -51px;
}
#filter-panel hr{
  margin-top: 5px;
  margin-bottom: 20px;
  border-top: 2px solid #eee;
}
#filter-panel .pollutant-title{
  font-size: 13px;
  margin-top: 10px;
}
.air-quality {
  color: #5e5e5e;
  font-size: 18px;
}
.air-quality small{
  color: #4eb35d;
  font-size: 13px;
  margin-left: 10px;
}
.air-data-wrapper {
  height: 180px;
  overflow-y: scroll;
  border-bottom: 1px dashed #dfdfdf;
}
.air-data-wrapper table{
  margin-bottom: 0px;
}
.air-data-wrapper .table td{
  border-top: 1px dashed #ddd;
}
.air-data-title {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background: #F7F7F7;
  padding: 7px 0px;
  border-top: 1px solid #ddd;
}
.more-info-wrapper{
  padding: 10px;
}
.panel-title a{
  text-decoration: none;
  font-size: 20px;
}
.panel-title a:hover{
  text-decoration: none;
}
.air-data-wrapper .badge{
  padding: 5px 15px;
  border-radius: 4px;
  -moz-border-radius:4px;
}
.left-panel-operate{
  margin-left: 20px;
  float: left;
  background: white;
  font-size: 13px;
  text-align: center;
}
.dropdown-btn{
  float: left;
  padding: 10px 15px;
  border-right: 1px solid #dfdfdf;
}
.dropdown-seperate{
  height: 30px;
  width: 2px;
  background: #dfdfdf;
  float: left;
  margin: 0px 20px;
}
